@attribute [Route($"/{Routes.QuestionTypes}")]
<PageTitle>QuestionTypes</PageTitle>

<h2 style="text-align: center">QuestionTypes</h2>
<MudGrid>
    <MudItem xs="12" sm="3">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudTabs Elevation="0" Outlined="true" @bind-ActivePanelIndex="activeIndex" Position="Position.Left">
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.DragAndDrop)))" Text="Drag and drop" ID='"pn_one"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.OrderingDragAndDrop)))" Text="Ordering DragAndDrop" ID='"pn_one"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.Dropdown)))" Text="Dropdown" ID='"pn_two"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.FillBlank)))" Text="Fill Blank" ID='"pn_three"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.FillBlankDropdown)))" Text="Space In Text" ID='"pn_three"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.MultipleChoice)))" Text="Multiple Choice" ID='"pn_three"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.MultipleChoiceSingle)))" Text="Multiple Choice Single" ID='"pn_three"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.MultipleYesOrNo)))" Text="Yes or No" ID='"pn_three"'></MudTabPanel>
                <MudTabPanel OnClick="@(() => OpenOverlay(nameof(QuestionType.Ordering)))" Text="Ordering" ID='"pn_three"'></MudTabPanel>
            </MudTabs>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudSelect T="string"  Value="@(Visibility.FirstOrDefault(i=>i.Value==true).Key )" ValueChanged="@(choice =>OpenOverlay(choice) )" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"> 
                @foreach (var itm in Visibility)
                {
                    <MudSelectItem  T="string" Value="@(itm.Key)"></MudSelectItem>
                }
            </MudSelect>
        </MudHidden>
    </MudItem>
    <MudItem xs="12" sm="9">
        @if (Visibility[nameof(QuestionType.FillBlank)])
        {
            <FillBlankQuestion EditMode="false" FillBlankQuestionBaseModel="FillBlank"></FillBlankQuestion>
        }
        else if (Visibility[nameof(QuestionType.FillBlankDropdown)])
        {
            <FillBlankDropdownQuestion EditMode="false" FillBlankDropdownQuestionBaseModel="FillBlankDropdownGenericQuestion"></FillBlankDropdownQuestion>
        }
        else if (Visibility[nameof(QuestionType.DragAndDrop)])
        {
            <DragAndDropQuestion EditMode="false" DragAndDropQuestionBaseModel="DragAndDrop"></DragAndDropQuestion>
        }
        else if (Visibility[nameof(QuestionType.Dropdown)])
        {
            <DropdownQuestion EditMode="false" DropdownQuestionBaseModel="Dropdown"></DropdownQuestion>
        }
        else if (Visibility[nameof(QuestionType.MultipleChoice)])
        {
            <MultipleChoiceQuestion EditMode="false" MultipleChoiceQuestionBaseModel="MultipleChoice"></MultipleChoiceQuestion>
        }
        else if (Visibility[nameof(QuestionType.MultipleYesOrNo)])
        {
            <MultipleYesOrNoQuestion EditMode="false" MultipleYesOrNoQuestionBaseModel="MultipleYesOrNo"></MultipleYesOrNoQuestion>
        }
        else if (Visibility[nameof(QuestionType.Ordering)])
        {
            <OrderingQuestion EditMode="false" OrderingQuestionBaseModel="OrderingGenericQuestionModel"></OrderingQuestion>
        }
        else if (Visibility[nameof(QuestionType.MultipleChoiceSingle)])
        {
            <MultipleChoiceSingleQuestion EditMode="false" MultipleChoiceSingleQuestionBaseModel="MultipleChoiceSingle"></MultipleChoiceSingleQuestion>
        }
        else if (Visibility[nameof(QuestionType.OrderingDragAndDrop)])
        {
            <OrderingDnDQuestion EditMode="false" OrderingDnDQuestionBaseModel="OrderingDnDGenericQuestionModel"></OrderingDnDQuestion>
        }

    </MudItem>
</MudGrid>


@code
{

}