@inject NavigationManager navMan

<MudNavMenu>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/tests" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBalanceWallet" IconColor="Color.Default">
                My Tests
            </MudNavLink>
            <MudNavLink Href="/groups" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Groups" IconColor="Color.Default">
                Groups
            </MudNavLink>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="/questiontypes" Icon="@Icons.Material.Filled.ListAlt" IconColor="Color.Default">
        Question Types
    </MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/logout" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ExitToApp" IconColor="Color.Default">
                Logout
            </MudNavLink>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="/contact" Icon="@Icons.Material.Filled.PermPhoneMsg" IconColor="Color.Default">
        Contact
    </MudNavLink>
</MudNavMenu>
<div style="flex-grow: 1"></div>
<MudNavLink Href="/Copyright" Style="color: dodgerblue"> @copy</MudNavLink>

@code {

    private string copy = $"Copyright @{DateTime.Now.Year}";

    private async Task Click(string name)
    {
        navMan.NavigateTo($"/{name}");
    }

}