@using Decenea.WebApp.Pages.Shared
@using Decenea.WebApp.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div style="text-align: center;margin-top: 30vh">
                        <h1>Please wait, we are authorizing the user.</h1>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <div style="text-align: center;margin-top: 30vh">
                        <h1>You are not authorized to see this section!</h1>
                        <p>
                            You can request access from an admin.
                        </p>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
